.peliculas{
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0 0 8px;
    
}
.episodio3{
    border: ridge #0f0fef 1px;
    }
.sith{
    color: white;

    font-size:large;
}
.texto{
    color: white;
    font-size: 12px;
}